{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <!-- Вкладки -->
    <ul class="nav nav-tabs">
        <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#a1c75a"
                     class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                Настройки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-question-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                </svg>
                Вопросы</a>
        </li>
    </ul>
    <!-- Конец вкладок -->
    <div class="container justify-content-center">
        <div class="row">
            <!-- Поле с отображение вопросов -->
            <div class="col-4 border border-top-0">

            </div>
            <!-- Поле с настройками нового вопроса -->
            <div class="col-8">
                {% if type %}
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <p>
                        {% if not quest or not quest['image'] %}
                        <label for="file" id="file-upload"><img src="/static/img/card-image.svg"
                                                                width="100"
                                                                height="100"
                                                                id="blah"
                                                                class="img-fluid"></label><br>
                        {% elif quest and quest['image'] %}
                        <label for="file" id="file-upload"><img src="data:;base64,{{ quest['image'] }}"
                                                                width="100"
                                                                height="100"
                                                                id="blah"
                                                                class="img-fluid"></label><br>
                        {% endif %}
                        {{ form.image.label }}<br>
                        {{ form.image(class="form-control", type="file", id="file", onchange="document.getElementById('blah').src =
                        window.URL.createObjectURL(this.files[0])") }}<br>
                        {% for error in form.image.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.title.label }}<br>
                        {{ form.title(class="form-control") }}<br>
                        {% for error in form.title.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.answer.label }}<br>
                        {{ form.answer(class="form-control") }}<br>
                        {% for error in form.answer.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% if type == 'test' %}
                    <p>
                        {{ form.var1.label }}<br>
                        {{ form.var1(class="form-control") }}<br>
                        {% for error in form.var1.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.var2.label }}<br>
                        {{ form.var2(class="form-control") }}<br>
                        {% for error in form.var2.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.var3.label }}<br>
                        {{ form.var3(class="form-control") }}<br>
                        {% for error in form.var3.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    {% elif type == 'couple' %}


                    <p>
                        <input class="form-check-input" type="checkbox" value="var1" id="flexCheckDefault" name="cor">
                        <label class="form-check-label" for="flexCheckDefault">
                            Правильный вариант
                        </label>
                        {{ form.var1.label }}<br>
                        {{ form.var1(class="form-control") }}<br>
                        {% for error in form.var1.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    <p>
                        <input class="form-check-input" type="checkbox" value="var2" id="flexCheckDefault2" name="cor">
                        <label class="form-check-label" for="flexCheckDefault2">
                            Правильный вариант
                        </label>
                        {{ form.var2.label }}<br>
                        {{ form.var2(class="form-control") }}<br>
                        {% for error in form.var2.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    </p>
                    <p>
                        <input class="form-check-input" type="checkbox" value="var3" id="flexCheckDefault3" name="cor">
                        <label class="form-check-label" for="flexCheckDefault3">
                            Правильный вариант
                        </label>
                        {{ form.var3.label }}<br>
                        {{ form.var3(class="form-control") }}<br>
                        {% for error in form.var3.errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}


                    {% endif %}
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                </form>
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}